<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Montserrat:wght@300;400;500;600;700&family=Poppins&family=Young+Serif&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/show.css">
    <title>Show Post</title>
</head>

<body>
    <h2>Here is your Post in detail</h2>
    </p>
    <div class="post">
        <h3 class="user">@
            <%=post.username%>
        </h3>
        <h4 class="content">
            <%=post.content%>
        </h4>
    </div>
    <br>
    <a href="http://localhost:8080/posts"><i class="fa-solid fa-chevron-left"></i> Back to home</a>
</body>

</html>